{
  "extends": [
    "xo-space",
    "xo-react/space"
  ],
  "rules": {
    "semi": "off",
    "object-curly-spacing": ["error", "always"],
    "new-cap": ["error", { "capIsNewExceptions": ["Router"] }]
  }
}
